:root{
    --ultra:#0f0a9b;
    --char:#2d2b3c;
    --swan:#d9eded;
    --givry:#f9d7c5;
}

body {
    background-color: var(--ultra);

}

h1,
h2,
h3,
h4{
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 48px;
}

h2 {
    font-size: 24px;
    color: var(--swan);
}

.jumbotron {
    background-color: var(--char);
    color: var(--swan)
}


.cityName{
    padding: 5px;
    margin: 10px;
    width: fit-content;
    border-radius: 10px;
    color: var(--char);
    background-color: var(--swan);
}

.cityName:hover {
    box-shadow: inset 0px 0px 8px var(--givry), 0 0 15px var(--givry);
    cursor: pointer;
}

input {
    width: 130px;
}

.container {

    height:fit-content;
    min-height: 457px;
    width: fit-content;
    float:left;
    background-color: var(--char);
    padding-top: 15px;
    border-radius: 5px;
}

main {
    width: 80%;
    display: inline-block;
    margin-left: 30px;

}

#weatherBox {
    float: center;
    font-size: 36px;
    margin-bottom: 30px;
    background-color: var(--swan);
    height: fit-content;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}

#futureBox .card {
    background-color: var(--swan);
}

button {
    padding: 5px;
}

ul {
    list-style-type: none;
}

@media screen and (max-width: 1153px) {
    main {
        margin-left: 15px;
    }
    
}

@media screen and (max-width: 1076px) {
    .container{
        width: 170px;
    }

    main {
        width: 65%;
        margin-left: 15px;
    }
}

@media screen and (max-width: 529px) {
    main {
        width: 50%;
    }

    #weatherBox {
        font-size: 16px;
    }
}